[build]
  command = "npm install"
  functions = "netlify/functions"
  publish = "."

[dev]
  command = "npm run dev"
  port = 3000
  publish = "."
  autoLaunch = false

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
